*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.margin-left{
    margin-left: 8rem;
    padding-left: 3rem;
    padding-top: 1rem;
}

.btn{
    border: #000000 solid 1px;
    width: 70px;
    border-radius: 6px;
    transition: all ease .5s;
    text-align: center;
}

.btn a{
    display: block;
    transition: all ease .3s;
    color: #fff;
}

.btn:hover{
    background-color: #ffffff;
}

.btn a:hover{
    color: #000;
}

.flex-right{
    display: flex;
    justify-content: flex-end;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #ff1919; /* red */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}