*{
    margin: 0;
    padding: 0;
}

.link{
    text-decoration: none;
    color: #000;
}

#app > .navbar,
#app > .footer{
    height: 5em;
}

#app > .contenedor{
    min-height: calc(100vh - 5em - 5em);
}