.grid-reviewers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.div-reviewer{
    height: 150px;
    overflow: 250px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}
.img-anime{
    height: 80%;
    width: 30%;
    position: absolute;
}
.img-anime img{
    border-radius: 250px;
    width: 100%;
    height: 100%;
}

.info-reviewer{
    margin-left: 100px;
    padding: 10px 42px;
    width: 60%;
    height: 58%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow:
        inset 0 -3em 3em #e2e2e2,
                0 0  0 1px #ececec,
                0em 0.2em 0.3em #a1a1a1;
}
.data-reviewer{
    font-size: 15px;
}

.btn-reviewer{
    width: 45px;
    height: 24px;
    background-color: #14c0cc;
}