.home{
    background-color: #fcfcfc;
    border-radius: 25px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 1px 2px #ccc, 0px 2px 6px #ccc;
    width: 50em;
    margin: 0 auto;
}

.home-info{
    margin-top: 15px;
    line-height: 25px;
}
.btn-home{
    height: 30px;
    background-color: #ff1919;
    margin-top: 15px;
}

.btn-home a{
    font-size: 18px;
    color: #fff;
}